@media (max-width: 1199.98px) {
    #main,
    #header {
        padding: 30px 0 ;
    }
    .container {
        max-width: 980px;
    }
    h1 {
        font-size: 26px;
        padding-bottom: 15px;
    }
    #header .city_navigation li {
        margin: 10px 5px;
    }
    #header .city_navigation li a {
        padding: 5px 10px;
        font-size: 16px;
    }
    #main .items .item .card h2 {
        font-size: 12px;
    }
    #main .navigation ul li a {
        font-size: 16px;
    }
    #main .items .item .card .card__city {
        font-size: 14px;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
    #main .items .item {
        width: calc(100%/2);
    }
    #main .container .items {
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 100%;
    }

}

@media (max-width: 575.98px) {
    h1 {
        font-size: 20px;
    }
    #header .city_navigation li a {
        font-size: 14px;
        padding: 3px 8px;

    }
    #header .city_navigation {
        flex-wrap: wrap;
    }
    #header .city_navigation li {
        margin-bottom: 0;
    }
    .container {
        max-width: 100%;
    }
    #main .items .item {
        width: calc(100%);
        margin-top: 15px;
    }
    #main .navigation ul li {
        padding: 0 3px;
    }
    #main .navigation ul li a {
        font-size: 14px;
        padding: 3px 8px;
    }

}